@media screen and (max-width:501px) {

    .navbar {

        background: yellow;
    }


    .logo {

        display: none;

    }

    #botao {

        display: none;

    }


    .menu {

        margin: 0%;
        text-align: center;

    }

    .event {

        display: none;

    }

    #save {

        display: none;

    }

    #save1 {

        display: none;

    }

    .header {
        display: flex;
        flex-flow: row wrap;
        height: 1800px;
        /* background: rgba(128, 128, 128, 0); */
        background: url('../img/umo.jpg') no-repeat center;
        background-size: cover;


    }


    .parte1 {

        flex: 100%;
        margin: 2%;
        text-align: center;
        background: no-repeat center;
        background-size: cover;


    }

    .img-parte1 {
        flex: 100%;
        margin-left: 12%;
        margin-right: 13%;
        margin-top: 0%;
        text-align: center;
        background: no-repeat center;
        background-size: cover;
        border: none;


    }

    .img-parte2 {
        flex: 100%;
        margin-left: 12%;
        margin-right: 13%;
        margin-top: 0%;
        text-align: center;
        background-size: cover;
        border: none;



    }

    .manual-navegacao {

        position: absolute;
        width: 300px;
        display: flex;
        justify-content: center;

    }

    .manual-btn {
        margin-left: 30%;
        margin-top: 2%;
        border: 1px solid black;
        padding: 90px;
        border-radius: 10px;
        cursor: pointer;
        transition: .08s;
        margin-right: 12%;




    }

    .navegacao div {

        border: 1px solid yellow;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        transition: .08s;
        margin-right: 12%;

    }

    .navegacao {

        position: absolute;
        width: 300px;
        margin-top: 400px;
        display: flex;
        justify-content: center;
        margin-left: 18px;
        margin-top: 406px;
    }

    .navegacão div {

        border: 1px solid yellow;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: .08s;
        margin-right: 12%;
    }

    .header3 {
        display: flex;
        flex-flow: row wrap;
        height: 700px;
        /* background: rgba(128, 128, 128, 0); */
        background: url('../img/rs2.jpg') no-repeat center;
        background-size: cover;


    }


    .manual-btn {
        margin-left: 12%;
        margin-top: 2%;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: .08s;




    }

    .manual-btn:hover {

        background-color: black;

    }

    #rodio1:checked~.navegacão .auto-bt1 {

        background-color: black;

    }

    #rodio2:checked~.navegacão .auto-bt2 {

        background-color: black;

    }

    #rodio3:checked~.navegacão .auto-bt3 {

        background-color: black;

    }

    .header2 {
        display: flex;
        flex-flow: row wrap;
        height: 700px 700px;
        /* background: rgba(128, 128, 128, 0); */
        background: url('../img/cardapio4.jpg') no-repeat center;
        background-size: auto;

    }

    .header4 {
        display: flex;
        flex-flow: row wrap;
        height: 540px;
        /* background: rgba(128, 128, 128, 0); */
        background: url('../img/fundors2.jpg') no-repeat center;
        background-size: auto;
        overflow-y: hidden;

    }

    .RSinsta {

        margin: 20% 35%;
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .RStiktok {

        margin: 70% 35%;
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

}